[submodule "ugv_sdk"]
	path = ugv_sdk
	url = https://github.com/agilexrobotics/ugv_sdk.git
[submodule "scout_ros"]
	path = scout_ros
	url = https://github.com/agilexrobotics/scout_ros.git
[submodule "urg_node"]
	path = urg_node
	url = https://github.com/ros-drivers/urg_node.git
	branch = melodic-devel
[submodule "realsense_gazebo_plugin"]
	path = realsense_gazebo_plugin
	url = https://github.com/m-tartari/realsense_gazebo_plugin.git
	branch = melodic-devel
[submodule "realsense_gazebo_description"]
	path = realsense_gazebo_description
	url = https://github.com/m-tartari/realsense_gazebo_description.git
[submodule "witmotion_IMU_ros"]
	path = witmotion_IMU_ros
	url = https://github.com/ElettraSciComp/witmotion_IMU_ros
