<launch>
    <arg name="visualize_sensors" default="true"/>
    <arg name="world_name" default="$(find scout_gazebo_sim)worlds/clearpath_playpen.world"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
    <include file="$(find robotics_gazebo_sim)/launch/spawn_robotics.launch">
        <arg name="visualize_sensors" value="$(arg visualize_sensors)"/>
    </include>
</launch>
