<launch>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.5"/>
    <arg name="yaw" default="0.0"/>

    <rosparam command="load" file="$(find scout_gazebo_sim)/config/scout_v2_control.yaml"/>

    <include file="$(find robotics_bringup)/launch/robotics_bringup.launch">
        <arg name="is_sim" value="true"/>
    </include>

    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="
        -x $(arg x)
        -y $(arg y)
        -z $(arg z)
        -Y $(arg yaw)
        -unpause
        -urdf
        -param robot_description
        -model robotics"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" args="
        scout_state_controller
        scout_motor_fr_controller
        scout_motor_fl_controller
        scout_motor_rl_controller
        scout_motor_rr_controller"/>
    <node name="scout_skid_steer_controller" pkg="scout_gazebo_sim" type="scout_skid_steer_controller">
        <param name="robot_namespace" type="string" value="/"/>
    </node>
</launch> 
